<div class="container">

    <h1 class="titlecard"><span>RecoFriend List Index</span></h1>

</div>

<br></br>

<div class="row">
  <div class="large-2 columns"></div>
  <div class="large-8 large-centered columns">
    <div class="mainbox">
        <% @lists.each do |list| %>
          <p><%=link_to list.title, list_path(list)%>
          <%="-"%>
          <%=list.user.name %></p>
        <% end %>
      </div>
    <div class="large-2 columns"></div>
  </div>
</div>
