<h1>RecoFriend</h1>
  <div class="row large 4 columns text-center">
    <div class="small-2 large-6 columns text-center">
      <div class="mainbox">
        <p> This is what a box looks like </p>
        <a href class="button"> This is a button </a>
      </div>
    </div>
  </div>

<p><%=link_to "Hit this link", lists_path(@lists) %></p>
<p><%=link_to "New Links", new_list_path%></p>
