<div class="container">
    <h1 class="titlecard"><span>RecoFriend</span></h1>
</div>

<div class="container">
  <%if current_user.present? %>
    <h1 class="titlecard"><span>Hello <%= current_user.name %></span></h1>
  <% else %>
    <h1 class="titlecard2"><span> When it comes to TV be a Friend and Recommend!</span><h1>
  <%end%>
</div>
