<div class="container">
    <h1 class="titlecard"><span>RecoFriend</span></h1>
</div>

<div class="container">
  <%if current_user.present? %>
    <h1 class="titlecard"><span>Hello <%= current_user.name %></span></h1>
    <p>My List Submissions</p>
    <div class="row">
      <div class="large-8 large-centered columns">
        <div class = "mainbox">
      <% current_user.lists.each do |list| %>
      <h1><%= link_to list.title, list_path(list) %></h1>
      <p><%= link_to "Delete This List", list, method: :delete, data: {confirm: "Are you sure you want to delete this list?"}, class: "delete"%></p>
      <p><%= link_to "Edit This List Submission ", edit_list_path(list)%></p>
        <hr/>
      <% end %>
    </div>
  </div>
</div>
  <% else %>
    <h1 class="titlecard2"><span> When it comes to TV be a Friend and Recommend!</span><h1>
  <%end%>
</div>
