<div class="container">

    <h1 class="titlecard"><span>You asked for it so you got it!</span></h1>

</div>

<br>

<% if @blank_message %>
  <div class="container">
    <h3 class="titlecard"><span>  <%=@blank_message %></span></h3>
  </div>
<% end %>

<% if !@lists.empty? %>
  <div class="row">
    <div class="large-8 large-centered columns">
      <ul class="mainbox">
        <% @lists.each do |list| %>
        <li><%= link_to list.title, list_path(list) %> - <%= list.user.name %></li>
      <% end %>
    </ul>
  </div>
<% end %>
