<div class="container">
    <h1 class="titlecard"><span>Add Shows to Your List!</span></h1>
</div>


  <div class="row">
    <div class="large-8 large-centered columns">
      <div class="mainbox">
        <div="row">
            <div id="search">
              <%= form_tag("/search", method: "get") do %>
              <div class="large-6 large-centered columns">
              <%= text_field_tag(:userinput) %>
              </div>
              <%= submit_tag("Search") %>
              <% end %>
            </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      <br>
    </div>
  </div>
    </div>
  </div>
</div>
